---
import { get as getProfile } from '~/pages/api/profile'
import { get as getUserDashboard } from '~/pages/api/dashboard'
import Layout from '~/layouts/Default.astro'
import { isAuthenticated, ipfsToHttpsUrl, getCurrentUserAddress } from '~/helpers'
import { ROUTE_MY_PROFILE, ROUTE_SIGN_IN, ROUTE_USER_PROFILE } from '~/config'
import button from '~/design-system/styles/button'

const editProfileButtonStyles = button({intent: 'primary-outline', size: 'default', class: "w-full unstyled"})
const viewProfileButtonStyles = button({intent: 'brand', size: 'default', class: "w-full unstyled"})
const isCurrentUserAuthenticated = isAuthenticated(Astro.request)

if(!isCurrentUserAuthenticated) {
    return Astro.redirect(ROUTE_SIGN_IN)
}

const meta = {
  title: "Dashboard",
  description: "y3llow is a Web3 yellow pages app powered by Astro",
  permalink: "/dashboard",
  previewImageSrc: "/preview.png",
}
const address = getCurrentUserAddress(Astro.request)
const dataProfileRes = await getProfile({request: Astro.request, params: Astro.params})
const dataProfile = await dataProfileRes.json()

const dataDonationsRes = await getUserDashboard({request: Astro.request, params: Astro.params})
const dataDonations = await dataDonationsRes.json()
---
<Layout showPopover={true}  content={meta}>
  <main class="container flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-i-6 py-8 mx-auto">
        <h1 class="sr-only">My dashboard</h1>
    <div class="w-full md:w-1/4  flex items-center flex-col">
      <div class="h-28 w-28 mb-1 rounded-full overflow-hidden relative bg-neutral-6">
        {dataProfile?.created && dataProfile?.profile.image?.original?.src && <img
          alt=""
          loading="lazy"
          width="112"
          height="112"
          class="absolute w-full h-full object-cover block inset-0"
          src={ipfsToHttpsUrl(dataProfile.profile.image.original.src)}
        />}
      </div>
      <span class="pb-3 font-bold text-xs">
        {dataProfile?.created && dataProfile?.profile?.name ? dataProfile?.profile?.name : "Profile not created"}
      </span>
      <div class="space-y-4">
        <a class={editProfileButtonStyles} href={ROUTE_MY_PROFILE}>
          Edit my profile
        </a>
        <a class={viewProfileButtonStyles} href={`${ROUTE_USER_PROFILE}${address}`}>
          View my profile
        </a>
      </div>
    </div>
    <div class="w-full md:w-3/4 h-[fit-content] border-1 border-solid border-neutral-4 rounded-md p-6">
      <h2 class="text-2xl text-gradient-brand font-bold mb-3">
        Overview
      </h2>

      <p class="font-medium"><span class="text-xl text-highlight-10 font-extrabold pie-[1ex]">{dataDonations.sent.length}</span> tips sent</p>
      <p class="font-medium"><span class="text-xl text-highlight-10 font-extrabold pie-[1ex]">{dataDonations.received.length}</span> tips received</p>
    </div>

  </main>
</Layout>
